body{
    margin: 10px;
    padding: auto;

}
.calculator{
    display: block;
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#output{
    text-align: right;
    height: 160px;
    margin: 10px 20px;
    font-size: 30px
}
.click{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 10px;
}
.keyboard{
    margin: 0px;
    padding: 25px;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;}

.opt {
    width: 50px;
    height: 50px;
    margin: 5px;
    float: bottom;
    border-radius: 0%;
    border-width: 0;
    font-weight: bold;}
  
  .opt:hover {background-color: rgb(179, 129, 224)}
  
  .opt:active {
    background-color: rgb(179, 129, 224);
    box-shadow: 0 5px rgb(129, 19, 111);
    transform: translateY(4px);}